// Colors
$grey: #f7f7f7;
$grey2: #939393;
$darkgrey: #54565b;
$blue: #2189f8;


/* Headings */
h1,h2,h3,h4,h5 {
	margin: 0;
}

i.devicons {
	font-size: 14rem;
}

p {
	font-weight: 100;
	font-size: 2rem;
}

h1.siteTitle a {
	padding: 0 20px;
	// font-family: 'Oswald', sans-serif;
	color: $blue;
	width: 25%;
	text-transform: uppercase;
	font-weight: 400;
	span.small {
		font-size: 2.9rem;
	}
}

h2 {
	font-family: 'Catamaran', sans-serif;
	color: $darkgrey;
	text-transform: lowercase;
	font-weight: 100;
	font-size: 1.4rem;
	width: 25%;
}

h2.sectionTitle {
	text-align: center;
	width: 100%;
	font-size: 4rem;
	margin: 50px 0;
	transform: skewY(2deg);
	span {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			margin: 0 0 0 -35px;
			border-bottom: 2px solid white;
			width:70px;
		}
	}
}

h3 {
	color: $grey2;
	font-size: 4.4rem;
	font-weight: 100;
	line-height: 1.2;
	margin: 0 0 14px;
	span {
		font-weight: 500;
		color: $blue;
	}
}

h3.blue {
	color: $blue;
	&:after {
	  content: '\A';  
	  width: 60px;
	  height: 2px;
	  border-radius: 5px;
	  border-bottom: 3px solid $blue;
	  position: absolute;
	}
}

h3.pieceTitle {
	font-size: 3rem;
}

h4 {
	color: $grey2;
	font-weight: 400;
	span {
		color: $blue;
	}
}

h5 {
	color: $darkgrey;
	font-size: 6rem;
	text-align: center;
}

/* Links */
a {
	color: white;
	text-decoration: none;
	&:hover {
		color: white;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}